html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #eff1f7;
}

li {
  list-style: none;
}

p {
  color: #676b84;
}

/* *************************************************** */
/* LATERAL MENU                                        */
/* *************************************************** */

*, ::before, ::after {
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar a, .navbar span {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.navbar div {
  display: block;
  color: black;
  text-decoration: none;
}

.navbar span {
  color: rgb(0, 0, 0);
}

.navbar span.cat, .navbar div.active {
    font-size: 20px;
    font-weight: 700;
    color: #2daab8;
    font-family: rajdhani,sans-serif;
    padding: 15px 25px 5px 30px;
    display: block;
}

.navbar a.active {
  background-color: #2e4765;
  color: white;
}

.navbar a.subcat {
  font-size: 16px;
  font-weight: 400;
  color: #676b84;
  padding: 15px 25px 15px 30px;
  background: #fff;
  transition: .3s;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 26px auto;
  grid-gap: 15px;
  align-items: center;
  position: relative;
  background: 0 0;
}

.navbar div.subcat {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  width: 16%;
}

.navbar .logo {
  width: -webkit-fill-available;
  text-align: center;
  font-family: system-ui;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar .logo img {
  max-width: 70px;
}


/* MAIN DIV FOR CONTENT */
div.content {
  padding: 0 0 0 250px;
}


div.content-inner {
  margin: 20px 30px 30px;
}

div.container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

div.half_left {
  width: 49%;
  height: 100%;
  float: left;
  overflow-y: auto;
}

div.half_right {
  width: 49%;
  height: 100%;
  float: right;
  overflow-y: auto;
}

div.half_mid {
  height: 100%;
  overflow-y: auto;
}

div.cropped {
  height: 85%;
  overflow-y: auto;
}

div.statistics {
  padding: 20px;
}

div.square {
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.square:hover{
    background-color: rgb(44, 99, 56);
}

div.stat{
    margin-top: 40px;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
}
div.stat_desc{
  font-weight: bold;
  font-size: 15px;
}





/* *************************************************** */
/* FORM BUTTONS                                        */
/* *************************************************** */
.switch_parent {
  display:flex;
  justify-content: center;
}

.switch_3_ways {
  margin-bottom:auto;
  margin-top:auto;
  font-size:1em;
  height:2em;
  line-height:2em;
  border-radius:0.3em;
  background:#ccc;
  position:relative;
  display:block;
  float:left;
}

.switch.none,
.switch.yes,
.switch.no,
.switch.all {
  cursor:pointer;
  position:relative;
  display:block;
  float:left;
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  transition: 300ms ease-out;
  padding: 0 1em;
}

.switch.active{
  color:white;
  border-radius:0.3em;
  -moz-box-shadow: 0px 0px 7px 1px #656565;
  -webkit-box-shadow: 0px 0px 7px 1px #656565;
  -o-box-shadow: 0px 0px 7px 1px #656565;
  box-shadow: 0px 0px 7px 1px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=7);
}

.selector{
  display: block;
  text-align:center;
  position:absolute;
  width:0;
  box-sizing:border-box;
  -webkit-transition: 300ms ease-out;
  -moz-transition: 300ms ease-out;
  transition: 300ms ease-out;
  border-radius:0.3em;  
  color:white;
  -moz-box-shadow: 0px 2px 13px 0px #9b9b9b;
  /* -webkit-box-shadow: 0px 2px 13px 0px #9b9b9b; */
  -o-box-shadow: 0px 2px 13px 0px #9b9b9b;
  /* box-shadow: 0px 2px 13px 0px #9b9b9b; */
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=13);
}

/* *************************************************** */
/* TABLE                                               */
/* *************************************************** */
.styled-table {
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #2e4765;
  color: #ffffff;
  text-align: left;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.styled-table th {
  
  padding: 12px 15px;

}
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f8f8f8;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #2e4765;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #2e4765;
}


/* *************************************** */
/*               SEARCH BAR                */
/* *************************************** */
.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form_input_search {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.form_input_submit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

.form_button_search {
  color: #676b84;
  font-weight: bold;
  border-radius: 1.625rem;
  width: 100%;
  height: 2.8rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}

.form_button_search:hover {
  cursor: pointer;
  background-color: #ccc;
}

.form_input_submit:hover {
  cursor: pointer;
}

.filter-label {
  line-height: 2em;
  padding-right: 8px;
}

table.cropped {
  overflow: auto;
}

td.center {
  text-align: center;
}


/* **************************** */
/* *          MODALS          * */
/* **************************** */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

span.close:hover,
span.close:focus {
  text-decoration: none;
  cursor: pointer;
}

span.close {
  background-color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


/* *********************************** */
/* *          NOTIFICATIONS          * */
/* *********************************** */
.notification-close {
  /* margin-left: 15px; */
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar div .notification {
  padding: 20px;
  display: flex;
  background-color: rgb(45, 170, 184);
  color: white;
  transition: 0.3s;
  position: fixed;
  bottom: 0px;
  width: 250px;
  /* box-shadow: -3px 0px 50px -20px rgba(0, 0, 0, 0.5); */
  border: 2px solid rgb(45, 170, 184);
  left: -250px;
  flex-direction: column;
  align-items: flex-start;
}

.navbar div .notification p {
  color:white;
}

.navbar div .notification-visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}

@keyframes movein {
  from { left: -250px; }
  to   { left: 0px; }
}

@keyframes moveout {
  from { left: 0px; }
  to   { left: -250px; }
}


/* ********************************** */
/* *          DATA BUTTONS          * */
/* ********************************** */
.databtnenabled {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 1.625rem;
  font-size: 10px;
  background-color: rgb(45, 170, 184);
}

.databtndisabled {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 1.625rem;
  cursor: pointer;
  font-size: 10px;
  background-color: #888;
}

/* ************************** */
/* *          TAGS          * */
/* ************************** */
.databtinteresting {
  height: 50px;
  width: 50px;
  color: white;
  padding: 10px;
  display: inherit;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  background-color: #ababab;
  /* background-color:rgb(46, 71, 101); */
}

.databtinteresting img {
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.databtnotinteresting {
  color: white;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: inherit;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
  background-color: #ababab;
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 4px;
}

.databtnotinteresting img {
  max-width: 100%;
  max-height: 100%;
  display: block;

}

.tag-active {
  color: rgb(0,0,0);
  background-color: #2e4765;
}

/*************************************************************************/
/***                           CATEGORIZE                              ***/
/*************************************************************************/
.icon-categorize, .icon-automation {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  fill: #2e4765;
}

.cell-is-interesting-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*****************************************************************/
/***                         HOME                              ***/
/*****************************************************************/
/* Tiles */
.tiles {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    flex: 0 0 auto;
    width: 100%;
}

.tile-font {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    color: white;
}


.tile {
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 43px 30px;
  position: relative;
  display: flex!important;
  align-items: center;
  justify-content: space-evenly;
}

.tile .icon {
  width: 60px;
  height: 60px;
  flex-basis: 60px;
  text-align: right;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  fill: #2e4765;
  color: #2e4765;
  max-width: -webkit-fill-available;
}



.tile .icon img {
  max-width: -webkit-fill-available;
}

.count_content {
  margin-left: 30px;
  flex-basis: 50%;
  text-align: left;
}

.count_content h3 {
  font-size: 45px;
  margin-bottom: 0;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
  color: #2e4765;
  margin-bottom: 0;
  font-family: rajdhani,sans-serif;
  line-height: 1;
}

.main_title h3 {
  font-family: rajdhani,sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #2e4765;
  line-height: 1.2;
}

.count_content p {
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 19px;
  font-weight: 500;
  color: #b2b5c0;
  font-family: rajdhani,sans-serif;
  line-height: 1;
}

.event-content-list-item img {
    max-width: 50px;
    border-radius: 50%;
    background-color: aliceblue;
}

.tile-content-desc {
    float:none;
}

.tile-content-value {
    float:right;
}

.tile-content-label {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: white;
}

/* Events */
.events {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 100%;
}

.event {
  padding: 30px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-header-border {
  border-bottom: 1px solid #efefef;
}

.event-content {
    box-sizing: inherit;
    height: inherit;
    border-bottom: 1px solid #efefef;
}

.event-content ul {
  padding: 0 0 0 0 ;
  margin: 0 0 0 0;
}


.event-row-1 {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.event-row-1 div {
  float: left;
  display: flex;
  align-items: center;
}

.event-row-1 div {
  word-wrap: break-word;
}

.event-row-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-row-2 button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 0 0 0 10px;
}

.event-row-2 svg {
  fill: #2e4765;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
  justify-content: center!important;
}


/* ************************************* */
/*               SETTINGS                */
/* ************************************* */
.settings {
  display: flex;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
}

.setting {
  padding: 0 30px 30px 30px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.setting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-header-border {
  border-bottom: 1px solid #efefef;
}

.setting-content {
  box-sizing: inherit;
  height: inherit;
  border-bottom: 1px solid #efefef;
}

.setting-content h4 {
  color: #516680;
  padding-right: 20px;
}

.setting-content ul {
padding: 0 0 0 0 ;
margin: 0 0 0 0;
}


.setting-row-1 {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-row-1 div {
float: left;
display: flex;
}

.setting-row-1 div img {
  max-height: 30px;
  }

.setting-row-1 div {
  word-wrap: break-word;
  align-items: center;
}

.setting-row-2 {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.setting-row-1 button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.setting-row-1 svg {
  fill: #2e4765;
}

.setting-row-1 svg.delete {
  fill: #ac0404;
}

.setting-row-1 .file-selector-div {
  display: flex;
}

#browse::file-selector-button{
  display: none;
}

.setting-row-1 .file-selector {
  color: #ffffff;
  font-weight: bold;
  margin: 10px;
  border-radius: 1.625rem;
  width: 100px;
  padding: 5px 0 5px 0px;
  text-align: center;
  outline: none;
  border: none;
  align-content: center;
  font-size: 14px;
  background-color: #2e4765;
}
  
.setting-row-1 .file-selector:hover {
  cursor: pointer;
  background-color: #273d58;
}

/* ********************************** */
/*               ABOUT                */
/* ********************************** */
.abouts {
  display: flex;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
}

.about {
  padding: 0 30px 30px 30px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.about-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-header-border {
  border-bottom: 1px solid #efefef;
}

.about-content {
  box-sizing: inherit;
  height: inherit;
  border-bottom: 1px solid #efefef;
}

.about-content h4 {
  color: #516680;
  padding-right: 20px;
}

.about-content ul {
padding: 0 0 0 0 ;
margin: 0 0 0 0;
}


.about-row-1 {
  float: left;
  width: 100%;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.about-row-1 div {
float: left;
}

.about-row-1 div img {
  max-height: 30px;
  }

.about-row-1 div {
  word-wrap: break-word;
  align-items: center;
}

.about-row-2 {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.about-row-1 button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.about-row-1 svg {
  fill: #2e4765;
}

.about-row-1 svg.delete {
  fill: #ac0404;
}


.about-table {
  border-collapse: collapse;
  margin: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
}

.about-table thead tr {
  background-color: #2e4765;
  color: #ffffff;
  text-align: left;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

thead {
  z-index: 1;
  position: relative;
}

.about-table th {
  
  padding: 12px 15px;

}
.about-table td {
    padding: 12px 15px;
}

.about-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f8f8f8;
}

.about-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.about-table tbody tr:last-of-type {
  border-bottom: 2px solid #2e4765;
}

.about-table tbody tr.active-row {
  font-weight: bold;
  color: #2e4765;
}

.table-search {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
}

/* *************************************** */
/*               STATISTICS                */
/* *************************************** */
.statistics-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
  justify-content: center!important;
}

.graphs {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 100%;
}

.graph {
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 43px 30px;
  position: relative;
}


/* *************************************** */
/*                 ERRORS                  */
/* *************************************** */
.errors {
  display: flex;
  grid-gap: 30px;
  margin-bottom: 30px;
  flex: 0 0 auto;
  width: 100%;
  flex-direction: column;
}

.error {
  padding: 0 30px 30px 30px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.error-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-header-border {
  border-bottom: 1px solid #efefef;
}

.error-content {
  box-sizing: inherit;
  height: inherit;
  border-bottom: 1px solid #efefef;
}

.error-content h4 {
  color: #516680;
  padding-right: 20px;
}

.error-content ul {
padding: 0 0 0 0 ;
margin: 0 0 0 0;
}


.error-row-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.error-row-1 div {
  float: none;
}

.error-row-1 div img {
  /* max-height: 30px; */
}

.error-row-1 div {
  word-wrap: break-word;
  align-items: center;
}

/* *************************************** */
/*                TOOLTIPS                 */
/* *************************************** */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}