html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}


/* *************************************************** */
/* LATERAL MENU                                        */
/* *************************************************** */
.navbar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbar a, span {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.navbar div {
  display: block;
  color: black;
  text-decoration: none;
}

.navbar span {
  background-color: #cdcdcd;
  color: rgb(0, 0, 0);
}

.navbar span.cat, div.active {
  background-color: #cdcdcd;
  color: black;
}

.navbar a.active {
  background-color: #009879;
  color: white;
}

.navbar a.subcat {
  color: black;
  padding-left: 30px;
}

.navbar div.subcat {
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.navbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}



/* MAIN DIV FOR CONTENT */
div.content {
  margin-left: 150px;
  padding: 10px 16px;
  height: 100%;
}

div.half_left {
  width: 49%;
  height: 100%;
  float: left;
  overflow-y: auto;
}

div.half_right {
  width: 49%;
  height: 100%;
  float: right;
  overflow-y: auto;
}

div.half_mid {
  height: 100%;
  overflow-y: auto;
}

div.cropped {
  height: 85%;
  overflow-y: auto;
}

div.statistics {
  padding: 20px;
}

div.square {
    display: inline-block;
    height: 150px;
    width: 150px;
    text-align: center;
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

div.square:hover{
    background-color: rgb(44, 99, 56);
}

div.stat{
    margin-top: 40px;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
}
div.stat_desc{
  font-weight: bold;
  font-size: 15px;
}










/* *************************************************** */
/* TABLE                                               */
/* *************************************************** */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.styled-table th {
  
  padding: 12px 15px;

}
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}








/* *************************************************** */
/* SEARCH BAR                                          */
/* *************************************************** */
.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}


















table.cropped {
  overflow: auto;
}

td.center {
  text-align: center;
}


/***************/
/* All buttons */
/***************/
input[type=button] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

input[type=button]:hover {
  background-color: #029b63;
}

input[type=button].delete {
  background-color: #a72d2d;
  padding: 4px 8px;
  width: 100%;
  font-size: 10px;
}

input[type=button].edit {
  background-color: #2346b8;
  padding: 4px 8px;
  width: auto;
  font-size: 10px;
}

input[type=button].create {
  background-color: #23b859;
  padding: 4px 8px;
  width: auto;
  font-size: 10px;
}

/* SUBMIT */
input[type=submit] {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

input[type=submit].clean {
	background-color: #a72d2d;
}

input[type=submit].clean:hover {
  background-color: #922727;
}

input[type=submit]#target_search_all {
  width: 32%;
}

input[type=submit]#target_clear_files {
  background-color: #a72d2d;
  width: 32%;
}

input[type=submit]#target_clear_domains {
  background-color: #a72d2d;
  width: 32%;
}

span.close {
  background-color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.close:hover,
span.close:focus {
  text-decoration: none;
  cursor: pointer;
}

input[type=text] {
  background-color: rgb(255, 255, 255);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 3px; 
  border: 3px solid rgb(73, 73, 73);
  border-radius: 4px;
}



/* All modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


/*** DATA BUTTONS */
.databtnenabled {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  background-color: #04AA6D;
}

.databtndisabled {
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 10px;
  background-color: #888;
}