<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_includes.html' %}
</head>
<body>
    <div class="content">
        <div class="content-inner">
            <!-- Description -->
            <div class="row">
                <div class="errors">
                    <div class="error">
                        <div class="error-header error-header-border">
                            <div class="main_title">
                                <h3>HTTP 404 Not found</h3>
                                <h4></h4>
                            </div>
                        </div>
                        <div class="error-content">
                            <div>
                                <ul>
                                    <li>
                                        <div class="error-row-1">
                                            <div>
                                                <img src="../static/404.png" style="height: 100%;">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>