<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="../static/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="../static/underscore-min.js" ></script>
<script type="text/javascript" src="../static/backbone-min.js" ></script>
<script type="text/javascript" src="../static/pretty-json-min.js" defer></script>
<script type="text/javascript" src="../static/nav.js" defer></script>
<link rel="stylesheet" href="../static/default.css">
<link rel="stylesheet" href="../static/pretty-json.css">