<div class="navbar">
    <div>
        <span class="logo">
            <img src="../static/logo.png" width="100%">
            <span>SMS Explorer</span>
        </span>
        <span class="cat">Dashboard</span>
        <a id="menu_home" href="/home" class="subcat">Home</a>
        <!-- Search -->
        <span class="cat">Manage</span>
        <a href="/search" class="subcat">Search</a>
        <a href="/categorize" class="subcat">Categorize</a>
        <a href="/automation" class="subcat">Automate</a>
        <!-- Statistics -->
        <span class="cat">Statistics</span>
        <a id="menu_statistics_telemetry" href="/statistics_telemetry" class="subcat">Telemetry</a>
        <a id="menu_statistics_data" href="/statistics_data" class="subcat">Data</a>
        <!-- Settings -->
        <span class="cat">Settings</span>
        <a id="menu_settings" href="/settings" class="subcat">Settings</a>
        <!-- About -->
        <a id="menu_about" href="/about" class="subcat">About</a>
    </div>
    <div>
        <div id="notification1" class="notification">
            <p id="notification1-title"></p>
            <p id="notification1-description"></p>
        </div>
    </div>
</div>