<div class="navbar">
    <div>
        <span class="logo">
            <img src="../static/logo.png" width="100%">
            <span>SMS Explorer</span>
        </span>
        <span class="cat">Dashboard</span>
        <a id="menu_home" href="/home" class="subcat">Home</a>
        <!-- Search -->
        <span class="cat">Search</span>
        <a id="menu_search" href="/search" class="subcat">SMSs</a>
        <a id="menu_investigation" href="/investigation" class="subcat">Investigation</a>
        <a id="menu_automation" href="/automation" class="subcat">Automation</a>
        <!-- Statistics -->
        <span class="cat">Statistics</span>
        <a id="menu_statistics_raw" href="/statistics_raw" class="subcat">Raw</a>
        <a id="menu_statistics_san" href="/statistics_san" class="subcat">Sanitized</a>
        <!-- Settings -->
        <span class="cat">Settings</span>
        <a id="menu_settings" href="/settings" class="subcat">Settings</a>
        <!-- About -->
        <a id="menu_about" href="/about" class="subcat">About</a>
    </div>
    <div>
        <div id="notification1" class="notification">
        </div>
        <div id="notification2" class="notification">
        </div>
        <div id="notification3" class="notification">
        </div>
    </div>
</div>