<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_includes.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="content">
        <div class="content-inner">
            <div class="container">
                <!-- Description -->
                <div class="row">
                    <div class="abouts">
                        <div class="about">
                            <div class="about-header about-header-border">
                                <div class="main_title">
                                    <h3>Project description</h3>
                                </div>
                            </div>
                            <div class="about-content">
                                <div>
                                    <ul>
                                        <li>
                                            <div class="about-row-1">
                                                <div>
                                                    <p>This project aims at</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Supported SMS sources -->
                <div class="row">
                    <div class="abouts">
                        <div class="about">
                            <div class="about-header about-header-border">
                                <div class="main_title">
                                    <h3>Supported SMS sources</h3>
                                </div>
                            </div>
                            <div class="about-content">
                                <div>
                                    <ul>
                                        <li>
                                            <div class="about-row-1">
                                                <div>
                                                    <p>When running aggressive mode, <b>SMS Explorer</b> will try to fetch data from various sources. In some cases, this may be illegal. For this reason, the default behavior of SMS Explorer is to run passive mode.</p>
                                                    <p>The following table shows the list of all known data sources, their development state, and whether they're legal or not.</p>
                                                </div>
                                                <table class="about-table" style="height: 25%; width: 100%; overflow: auto">
                                                    <thead>
                                                        <tr>
                                                            <td>Target</td>
                                                            <td>Legal</td>
                                                            <td>State</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>AirIndia</td>
                                                            <td>Probably</td>
                                                            <td>✅</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Supported data sources -->
                <div class="row">
                    <div class="abouts">
                        <div class="about">
                            <div class="about-header about-header-border">
                                <div class="main_title">
                                    <h3>Supported data sources</h3>
                                </div>
                            </div>
                            <div class="about-content">
                                <div>
                                    <ul>
                                        <li>
                                            <div class="about-row-1">
                                                <div>
                                                    <p>When running aggressive mode, <b>SMS Explorer</b> will try to fetch data from various sources. In some cases, this may be illegal. For this reason, the default behavior of SMS Explorer is to run passive mode.</p>
                                                    <p>The following table shows the list of all known data sources, their development state, and whether they're legal or not.</p>
                                                </div>
                                                <table class="about-table" style="height: 25%; width: 100%; overflow: auto">
                                                    <thead>
                                                        <tr>
                                                            <td>Target</td>
                                                            <td>Legal</td>
                                                            <td>State</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for row in targets %}
                                                        <tr>
                                                            <td>{{ row[0] }}</td>
                                                            <td>{{ row[1] }}</td>
                                                            <td>❌</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>