<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/default.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/nav.js"></script>
    <title>Home</title>
</head>
<body>
	{% import "nav.html" as macro %}
	{{ macro.lateral_menu(pages=menu, selected="Explore") }}
	<div class="content">
        <h1>Explore</h1>
        Explore the data you searched for.
        <table style="display: block; height: 25%; overflow: auto">
            <tr onclick="window.location='#';">
	      <th>Id</th>
              <th>URL</th>
              <th>Name</th>
              <th>Description</th>
              <th>Type</th>
              <th>First seen</th>
              <th>Last seen</th>
              <th>Classification</th>
            </tr>
	    {% for row in data %}
	    	<tr>
	    	{% for col in row %}
			{%- if loop.index == 2 -%}
				<td><a href="{{ col }}">{{ col }}</a></td>
			{%- elif loop.index == 8 -%}
			<td class="center">
				<div class="dropdown">
					<button {{'id=file_classification_button_' ~ row[0]}} class='dropbtn {{row[7]}}'>{{col}}</button>
					<div class="dropdown-content">
						{% for classification in classifications %}
						<a {{'id=file_classification_' ~ row[0]}} href="#"  onclick="myFunction(this.id, '{{classification}}')"> {{ classification }} </a>
						{% endfor %}
					</div>
				</div>
			</td>
			{%- elif not loop.last -%}
				<td> {{ col }} </td>
			{% endif %}
		{% endfor %}
		</tr>
	    {% endfor %}
          </table>
    </div>

</body>
</html>