<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../static/jquery-1.11.1.min.js" ></script>
        <script type="text/javascript" src="../static/underscore-min.js" ></script>
        <script type="text/javascript" src="../static/backbone-min.js" ></script>
        <script type="text/javascript" src="../static/pretty-json-min.js" defer></script>
        <script type="text/javascript" src="../static/nav.js" defer></script>
        <link rel="stylesheet" href="../static/default.css">
        <link rel="stylesheet" href="../static/pretty-json.css">
    </head>
    <body>
        <div class="navbar">
            <span class="logo">
                <img src="../static/logo.png" width="100%">
                <span>SMS Explorer</span>
            </span>
            <span class="cat">Dashboard</span>
            <a id="menu_home" href="/home" class="subcat">Home</a>
            <!-- Search -->
            <span class="cat">Search</span>
            <a id="menu_search" href="/search" class="subcat">SMSs</a>
            <a id="menu_targets" href="/search_targets" class="subcat">Targets</a>
            <!-- Statistics -->
            <span class="cat">Statistics</span>
            <a id="menu_statistics_raw" href="/statistics_raw" class="subcat">Raw</a>
            <a id="menu_statistics_san" href="/statistics_san" class="subcat">Sanitized</a>
            <!-- Settings -->
            <span class="cat">Settings</span>
            <a id="menu_settings" href="/settings" class="subcat">Settings</a>
            <!-- About -->
            <a id="menu_about" href="/about" class="subcat">About</a>
        </div>
        
        <div class="content">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div id="home_tiles" class="tiles">
                            <div id="tile_messages_received" class="tile">
                                <div class="icon">
                                    <img src="../static/icon_sms.png"/>
                                </div>
                                <div class="count_content">
                                    <h3>954989</h3>
                                    <p>Message received</p>
                                </div>
                            </div>
                            <div id="tile_messages_received" class="tile">
                                <div class="icon">
                                    <img src="../static/icon_sms.png"/>
                                </div>
                                <div class="count_content">
                                    <h3>954989</h3>
                                    <p>Message received</p>
                                </div>
                            </div>
                            <div id="tile_messages_received" class="tile">
                                <div class="icon">
                                    <img src="../static/icon_sms.png"/>
                                </div>
                                <div class="count_content">
                                    <h3>954989</h3>
                                    <p>Message received</p>
                                </div>
                            </div>
                            <div id="tile_messages_received" class="tile">
                                <div class="icon">
                                    <img src="../static/icon_sms.png"/>
                                </div>
                                <div class="count_content">
                                    <h3>954989</h3>
                                    <p>Message received</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="home_events" class="events">
                            <div class="event">
                                <div class="event-header event-header-border">
                                    <div class="main_title">
                                        <h3>Last data collected</h3>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="event-header event-header-border">
                                    <div class="main_title">
                                        <h3>Last data collected</h3>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="event-header event-header-border">
                                    <div class="main_title">
                                        <h3>Last data collected</h3>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="event-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="event-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png" style="max-width: 50px;">
                                                        <p>+33659874 --> +33659874</p>
                                                    </div>
                                                    <p>Tues, 5th 2024</p>
                                                </div>
                                                <div class="event-row-2">
                                                    <div><p>message sfzedrgzdfzdgzdfzeg</p></div>
                                                    <div>
                                                        <button>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z"/></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>