<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_includes.html' %}
</head>
<body>
  {% include '_menu.html' %}
  <div class="content">
    <table class="styled-table" style="height: 25%; width: 100%; overflow: auto">
        <thead>
            <tr>
                <th>
                <div class="search-bar">
                    <input id="input_search" type="text" name="form_input_search" placeholder="Search..." value="" class="form_input_search"/>
                    <button id="input_submit" type="submit" value="Submit" onclick="send_search_form_investigation()" class="form_input_submit">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                        </svg>
                    </button>   
                </div>
                
                </th>
                <th>
                <div class="switch_parent">
                    <span class="filter-label">Unique?</span>
                    <div class="switch_3_ways">
                        <div id="toggle_unique_no" class="switch no" onclick="change_filter_unique('no', 'unique')">No</div>
                        <div id="toggle_unique_yes" class="switch yes" onclick="change_filter_unique('yes', 'unique')">Yes</div>
                        <div id="unique_selector" class="selector"></div>
                    </div>
                </div>
                </th>
                <th>
                    <form id="form_search">
                        <input hidden id="form_input_search" type="text" name="search" value=""/>
                        <input hidden id="form_input_unique" type="text" name="unique" value=""/>
                        <button type="button" id="form_input_submit" value="Search" onclick="send_search_form_investigation()" class="form_button_search">Search</button>
                    </form>
                </th>
                <th>
                    <span class="filter-label">{{ count }} unqualified targets</span>
                </th>
            </tr>
    </table>
    <table class="styled-table" style="height: 25%; width: 100%; overflow: auto">
        <thead>
            <tr onclick="window.location='#';">
                <!-- smss.id, smss.url, smss.msg, smss.domain  -->
                <th>URL</th>
                <th>SMS</th>
                <th>Domain</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] | decode}}</td>
                <td>{{ row[3] | decode}}</td>
                <td>
                    <button class='icon-investigation' onclick="window.open('{{row[3]}}', '_blank').focus();">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                        </svg>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>