<div class="navbar">
    <a id="menu_home" href="/home">Home</a>
    <!-- Search -->
    <span class="cat collapsible">Search</span>
    <div id="nav_search" class="subcat">
        <a id="menu_search_raw" href="/search_raw" class="subcat">Raw</a>
        <a id="menu_search_san" href="/search_san" class="subcat">Sanitized</a>
    </div>
    <!-- Statistics -->
    <span class="cat collapsible">Statistics</span>
    <div id="nav_stats" class="subcat">
        <a id="menu_statistics_raw" href="/statistics_raw" class="subcat">Raw</a>
        <a id="menu_statistics_san" href="/statistics_san" class="subcat">Sanitized</a>
    </div>
    <!-- About -->
    <a id="menu_about" href="/about">About</a>
</div>