<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/default.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search and explore</title>
</head>
<body>
    <div class="content">
        <h1>Search SMS</h1>
            <form action="/clean" method="GET">
                <input class="clean" type="submit" value="Clean database"></button>
            </form>
            <br>
            <form action="/search" method="GET">
                <input name="search" placeholder="Enter a key word" value="">
                <input type="submit" value="Submit"></button>
            </form>
            <div>
                <h1>Explore</h1>
                Explore the data you searched for among a total of {{ count[0] }} SMSs.
                <table style="height: 25%; width: 100%; overflow: auto">
                    <tr onclick="window.location='#';">
                        <th>Id</th>
                        <th>Sender</th>
                        <th>Receiver</th>
                        <th>Message</th>
                        <th>Receive date</th>
                        <th>Country</th>
                        <th>Instagram</th>
                    </tr>
                    {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] | decode}}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</body>
</html>