<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_includes.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="content">
        <!-- Export SMSs button -->
        <form id="export_smss">
            <button type="button" value="Export SMSs" onclick="window.open('/settings/export_smss', '_blank').focus();">Export SMSs</button>
        </form>
        <!-- Export targets button -->
        <form id="export_targets">
            <button type="button" value="Export targets" onclick="window.open('/settings/export_targets', '_blank').focus();">Export targets</button>
        </form>
        <!-- Clean database -->
        <form id="clean_database">
            <button type="button" value="Clean database" onclick="window.open('/settings/database/clean', '_blank').focus();">Clean database</button>
        </form>
        <!-- Update database -->
        <form id="clean_database">
            <button type="button" value="Update targets" onclick="window.open('/settings/database/targets_update', '_blank').focus();">Update targets</button>
        </form>
    </div>

</body>
</html>