<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../static/jquery-1.11.1.min.js" ></script>
        <script type="text/javascript" src="../static/underscore-min.js" ></script>
        <script type="text/javascript" src="../static/backbone-min.js" ></script>
        <script type="text/javascript" src="../static/pretty-json-min.js" defer></script>
        <script type="text/javascript" src="../static/nav.js" defer></script>
        <link rel="stylesheet" href="../static/default.css">
        <link rel="stylesheet" href="../static/pretty-json.css">
    </head>
<body>
    <div class="navbar">
        <span class="logo">
            <img src="../static/logo.png" width="100%">
            <span>SMS Explorer</span>
        </span>
        <span class="cat">Dashboard</span>
        <a id="menu_home" href="/home" class="subcat">Home</a>
        <!-- Search -->
        <span class="cat">Search</span>
        <a id="menu_search" href="/search" class="subcat">SMSs</a>
        <a id="menu_targets" href="/search_targets" class="subcat">Targets</a>
        <!-- Statistics -->
        <span class="cat">Statistics</span>
        <a id="menu_statistics_raw" href="/statistics_raw" class="subcat">Raw</a>
        <a id="menu_statistics_san" href="/statistics_san" class="subcat">Sanitized</a>
        <!-- Settings -->
        <span class="cat">Settings</span>
        <a id="menu_settings" href="/settings" class="subcat">Settings</a>
        <!-- About -->
        <a id="menu_about" href="/about" class="subcat">About</a>
    </div>
    <div class="content">
        <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="settings">
                            <!-- Exports -->
                            <div class="setting">
                                <div class="setting-header setting-header-border">
                                    <div class="main_title">
                                        <h3>Export data</h3>
                                    </div>
                                </div>
                                <div class="setting-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Export SMSs</h4>
                                                        <p>Export all SMSs in the database, this may take a while.</p>
                                                    </div>
                                                    <button onclick="window.open('/settings/export_smss', '_blank').focus();">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M13 11.1V4a1 1 0 1 0-2 0v7.1L8.8 8.4a1 1 0 1 0-1.6 1.2l4 5a1 1 0 0 0 1.6 0l4-5a1 1 0 1 0-1.6-1.2L13 11Z" clip-rule="evenodd"/>
                                                            <path fill-rule="evenodd" d="M9.7 15.9 7.4 13H5a2 2 0 0 0-2 2v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.4l-2.3 2.9a3 3 0 0 1-4.6 0Zm7.3.1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Export targets</h4>
                                                        <p>Export all targets in the database, this may take a while.</p>
                                                    </div>
                                                    <button onclick="window.open('/settings/export_targets', '_blank').focus();">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M13 11.1V4a1 1 0 1 0-2 0v7.1L8.8 8.4a1 1 0 1 0-1.6 1.2l4 5a1 1 0 0 0 1.6 0l4-5a1 1 0 1 0-1.6-1.2L13 11Z" clip-rule="evenodd"/>
                                                            <path fill-rule="evenodd" d="M9.7 15.9 7.4 13H5a2 2 0 0 0-2 2v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.4l-2.3 2.9a3 3 0 0 1-4.6 0Zm7.3.1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Export settings</h4>
                                                        <p>Export all targets in the database, this may take a while.</p>
                                                    </div>
                                                    <button>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M13 11.1V4a1 1 0 1 0-2 0v7.1L8.8 8.4a1 1 0 1 0-1.6 1.2l4 5a1 1 0 0 0 1.6 0l4-5a1 1 0 1 0-1.6-1.2L13 11Z" clip-rule="evenodd"/>
                                                            <path fill-rule="evenodd" d="M9.7 15.9 7.4 13H5a2 2 0 0 0-2 2v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.4l-2.3 2.9a3 3 0 0 1-4.6 0Zm7.3.1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Export data</h4>
                                                        <p>Export all targets in the database, this may take a while.</p>
                                                    </div>
                                                    <button>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M13 11.1V4a1 1 0 1 0-2 0v7.1L8.8 8.4a1 1 0 1 0-1.6 1.2l4 5a1 1 0 0 0 1.6 0l4-5a1 1 0 1 0-1.6-1.2L13 11Z" clip-rule="evenodd"/>
                                                            <path fill-rule="evenodd" d="M9.7 15.9 7.4 13H5a2 2 0 0 0-2 2v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.4l-2.3 2.9a3 3 0 0 1-4.6 0Zm7.3.1a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Update -->
                            <div class="setting">
                                <div class="setting-header setting-header-border">
                                    <div class="main_title">
                                        <h3>Update data</h3>
                                    </div>
                                </div>
                                <div class="setting-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Update targets</h4>
                                                        <p>Export all SMSs in the database, this may take a while.</p>
                                                    </div>
                                                    <button>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M12 3c.3 0 .6.1.8.4l4 5a1 1 0 1 1-1.6 1.2L13 7v7a1 1 0 1 1-2 0V6.9L8.8 9.6a1 1 0 1 1-1.6-1.2l4-5c.2-.3.5-.4.8-.4ZM9 14v-1H5a2 2 0 0 0-2 2v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-4v1a3 3 0 1 1-6 0Zm8 2a1 1 0 1 0 0 2 1 1 0 1 0 0-2Z" clip-rule="evenodd"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete -->
                            <div class="setting">
                                <div class="setting-header setting-header-border">
                                    <div class="main_title">
                                        <h3>Clean operations</h3>
                                    </div>
                                </div>
                                <div class="setting-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Clear SMSs</h4>
                                                        <p>Export all SMSs in the database, this may take a while.</p>
                                                    </div>
                                                    <button>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" class="delete">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="setting-content">
                                    <div>
                                        <ul>
                                            <li>
                                                <div class="setting-row-1">
                                                    <div>
                                                        <img src="../static/icon_sms.png">
                                                        <h4>Clear data</h4>
                                                        <p>Export all SMSs in the database, this may take a while.</p>
                                                    </div>
                                                    <button>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" class="delete">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Export SMSs button -->
        <form id="export_smss">
            <button type="button" value="Export SMSs" onclick="window.open('/settings/export_smss', '_blank').focus();">Export SMSs</button>
        </form>
        <!-- Export targets button -->
        <form id="export_targets">
            <button type="button" value="Export targets" onclick="window.open('/settings/export_targets', '_blank').focus();">Export targets</button>
        </form>
        <!-- Clean database -->
        <form id="clean_database">
            <button type="button" value="Clean database" onclick="window.open('/settings/database/clean', '_blank').focus();">Clean database</button>
        </form>
        <!-- Update database -->
        <form id="clean_database">
            <button type="button" value="Update targets" onclick="window.open('/settings/database/targets_update', '_blank').focus();">Update targets</button>
        </form>
    </div>

</body>
</html>