<!DOCTYPE html>
<html lang="en">
<head>
  <!-- https://gist.github.com/Nadiantara/f62ea4f5a3035dd5427a3006d769a6a1 -->
  {% include '_includes.html' %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include '_menu.html' %}
    <div class="content">
      <div class="content-inner">
        <div class="container">
          <!-- Top ten by domain -->
          <div class="satistics-row">
            <div class="graphs">
                <div class="graph">
                    <div class="about-header about-header-border">
                        <div class="main_title">
                            <h3>Received messages over time</h3>
                        </div>
                    </div>
                    <div class="about-content">
                        <div>
                            <ul>
                                <li>
                                    <div class="about-row-1">
                                        <div class="chart-container" style="position: relative; width:100%">
                                            <canvas id="sms_get_count_by_hour"></canvas>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Top ten by domain -->
          <div class="satistics-row">
            <div class="graphs">
                <div class="graph">
                  <div class="about-header about-header-border">
                    <div class="main_title">
                      <h3>Top domain by message number</h3>
                    </div>
                  </div>
                  <div class="about-content">
                    <div>
                        <ul>
                            <li>
                                <div class="about-row-1">
                                  <div class="chart-container" style="position: relative; width:100%">
                                    <canvas id="sms_get_top_ten_domains"></canvas>
                                  </div>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="graph">
                  <div class="about-header about-header-border">
                    <div class="main_title">
                      <h3>Top domain by message number</h3>
                    </div>
                  </div>
                  <div class="about-content">
                    <div>
                        <ul>
                            <li>
                                <div class="about-row-1">
                                  <div class="chart-container" style="position: relative; width:100%">
                                    <canvas id="san_sms_get_top_ten_domains"></canvas>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Top ten by country -->
          <div class="satistics-row">
            <div class="graphs">
              <div class="graph">
                <div class="about-header about-header-border">
                  <div class="main_title">
                    <h3>Top country by message number</h3>
                  </div>
                </div>
                <div class="about-content">
                  <div>
                      <ul>
                          <li>
                              <div class="about-row-1">
                                <div class="chart-container" style="position: relative; width:100%">
                                  <canvas id="sms_get_top_ten_countries"></canvas>
                                </div>
                              </div>
                              
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="graph">
                <div class="about-header about-header-border">
                  <div class="main_title">
                    <h3>Top country by message number</h3>
                  </div>
                </div>
                <div class="about-content">
                  <div>
                      <ul>
                          <li>
                              <div class="about-row-1">
                                <div class="chart-container" style="position: relative; width:100%">
                                  <canvas id="san_sms_get_top_ten_countries"></canvas>
                                </div>
                              </div>
                              
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        const sms_get_count_by_hour     = document.getElementById('sms_get_count_by_hour');
        const sms_get_top_ten_domains   = document.getElementById('sms_get_top_ten_domains');
        const sms_get_top_ten_countries = document.getElementById('sms_get_top_ten_countries');
        const san_sms_get_count_by_hour     = document.getElementById('san_sms_get_count_by_hour');
        const san_sms_get_top_ten_domains   = document.getElementById('san_sms_get_top_ten_domains');
        const san_sms_get_top_ten_countries = document.getElementById('san_sms_get_top_ten_countries');

        new Chart(sms_get_count_by_hour, {
          type: 'bar',
          data: {
            labels: {{ sms_get_count_by_hour_labels | safe}},
            datasets: [
              {
                label: '# of SMS',
                data: {{ sms_get_count_by_hour_values | safe}},
                borderWidth: 1,
                borderColor: 'rgb(54, 162, 235)',
                backgroundColor: 'rgba(54, 162, 235, 0.5)'
              },
              {
                label: '# of SMS sanitized',
                data: {{ san_sms_get_count_by_hour_values | safe}},
                borderWidth: 1,
                borderColor: 'rgb(255, 99, 132)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)'
              }

            ]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(sms_get_top_ten_domains, {
          type: 'bar',
          data: {
            labels: {{ sms_get_top_ten_domains_labels | safe}},
            datasets: [
              {
                label: 'Top domains',
                data: {{ sms_get_top_ten_domains_values | safe}},
                borderWidth: 1
              }
          ]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(sms_get_top_ten_countries, {
          type: 'bar',
          data: {
            labels: {{ sms_get_top_ten_countries_labels | safe}},
            datasets: [{
              label: 'Top countries',
              data: {{ sms_get_top_ten_countries_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });


        new Chart(san_sms_get_count_by_hour, {
          type: 'bar',
          data: {
            labels: {{ san_sms_get_count_by_hour_labels | safe}},
            datasets: [{
              label: '# of SMS',
              data: {{ san_sms_get_count_by_hour_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(san_sms_get_top_ten_domains, {
          type: 'bar',
          data: {
            labels: {{ san_sms_get_top_ten_domains_labels | safe}},
            datasets: [{
              label: 'Top domains',
              data: {{ san_sms_get_top_ten_domains_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(san_sms_get_top_ten_countries, {
          type: 'bar',
          data: {
            labels: {{ san_sms_get_top_ten_countries_labels | safe}},
            datasets: [{
              label: 'Top countries',
              data: {{ san_sms_get_top_ten_countries_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

</body>
</html>