<!DOCTYPE html>
<html lang="en">
<head>
  <!-- https://gist.github.com/Nadiantara/f62ea4f5a3035dd5427a3006d769a6a1 -->
  {% include '_includes.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="content">
        <h1>Search SMS</h1>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="sms_get_statistics_interesting"></canvas>
        </div>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="sms_get_statistics_interesting_tags_yes"></canvas>
      </div>
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="sms_get_statistics_interesting_tags_no"></canvas>
    </div>
    </div>

    <script>
      const ctx1 = document.getElementById('sms_get_statistics_interesting');
      const ctx2 = document.getElementById('sms_get_statistics_interesting_tags_yes');
      const ctx3 = document.getElementById('sms_get_statistics_interesting_tags_no');



      new Chart(ctx1, {
        type: 'doughnut',
        data: {
          labels: {{ sms_get_statistics_interesting_labels | safe}},
          datasets: [{
            label: '# of Votes',
            data: {{ sms_get_statistics_interesting_values | safe}},
            borderWidth: 1
          }]
        },
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(54, 162, 135)'
        ],
        hoverOffset: 4
      });

      new Chart(ctx2, {
        type: 'doughnut',
        data: {
          labels: {{ sms_get_statistics_interesting_tags_yes_labels | safe}},
          datasets: [{
            label: '# of Votes',
            data: {{ sms_get_statistics_interesting_tags_yes_values | safe}},
            borderWidth: 1
          }]
        },
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(54, 162, 135)'
        ],
        hoverOffset: 4
      });

      new Chart(ctx3, {
        type: 'doughnut',
        data: {
          labels: {{ sms_get_statistics_interesting_tags_no_labels | safe}},
          datasets: [{
            label: '# of Votes',
            data: {{ sms_get_statistics_interesting_tags_no_values | safe}},
            borderWidth: 1
          }]
        },
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)',
          'rgb(54, 162, 135)'
        ],
        hoverOffset: 4
      });
      
    </script>

</body>
</html>