<!DOCTYPE html>
<html lang="en">
<head>
  <!-- https://gist.github.com/Nadiantara/f62ea4f5a3035dd5427a3006d769a6a1 -->
  {% include '_includes.html' %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include '_menu.html' %}
    <div class="content">
      <div class="content-inner">
        <div class="container">
          <!-- Received messages over time -->
          <div class="satistics-row">
            <div class="graphs">
                <div class="graph">
                    <div class="about-header about-header-border">
                        <div class="main_title">
                            <h3>Received URLs over time</h3>
                        </div>
                    </div>
                    <div class="about-content">
                        <div>
                            <ul>
                                <li>
                                    <div class="about-row-1">
                                        <div class="chart-container" style="position: relative; width:100%">
                                            <canvas id="data_sms_get_url_count_by_day"></canvas>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="graph">
                  <div class="about-header about-header-border">
                      <div class="main_title">
                          <h3>Collected data over time</h3>
                      </div>
                  </div>
                  <div class="about-content">
                      <div>
                          <ul>
                              <li>
                                  <div class="about-row-1">
                                      <div class="chart-container" style="position: relative; width:100%">
                                          <canvas id="data_sms_get_count_by_day"></canvas>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <!-- Top ten by domain -->
          <div class="satistics-row">
            <div class="graphs">
                <div class="graph">
                  <div class="about-header about-header-border">
                    <div class="main_title">
                      <h3>Top collected data domain</h3>
                    </div>
                  </div>
                  <div class="about-content">
                    <div>
                        <ul>
                            <li>
                                <div class="about-row-1">
                                  <div class="chart-container" style="position: relative; width:100%">
                                    <canvas id="data_sms_get_top_ten_domains"></canvas>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="graph">
                  <div class="about-header about-header-border">
                    <div class="main_title">
                      <h3>Data labels distribution</h3>
                    </div>
                  </div>
                  <div class="about-content">
                    <div>
                        <ul>
                            <li>
                                <div class="about-row-1">
                                  <div class="chart-container" style="position: relative; width:100%">
                                    <canvas id="count_by_category"></canvas>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Top ten by country -->
          <div class="satistics-row">
            <div class="graphs">
              <div class="graph">
                <div class="about-header about-header-border">
                  <div class="main_title">
                    <h3>Top collected data by country</h3>
                  </div>
                </div>
                <div class="about-content">
                  <div>
                      <ul>
                          <li>
                              <div class="about-row-1">
                                <div class="chart-container" style="position: relative; width:100%">
                                  <canvas id="data_sms_get_top_ten_countries"></canvas>
                                </div>
                              </div>
                              
                          </li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
        const data_sms_get_count_by_day     = document.getElementById('data_sms_get_count_by_day');
        const data_sms_get_url_count_by_day = document.getElementById('data_sms_get_url_count_by_day');
        const data_sms_get_top_ten_domains   = document.getElementById('data_sms_get_top_ten_domains');
        const data_sms_get_top_ten_countries = document.getElementById('data_sms_get_top_ten_countries');
        const count_by_category              = document.getElementById('count_by_category');

        new Chart(data_sms_get_count_by_day, {
          type: 'bar',
          data: {
            labels: {{ data_sms_get_count_by_day_labels | safe}},
            datasets: [{
              label: '# of SMS',
              data: {{ data_sms_get_count_by_day_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(data_sms_get_url_count_by_day, {
          type: 'bar',
          data: {
            labels: {{ data_sms_get_url_count_by_day_labels | safe}},
            datasets: [{
              label: '# of SMS',
              data: {{ data_sms_get_url_count_by_day_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(count_by_category, {
          type: 'bar',
          data: {
            labels: {{ count_by_category_labels | safe}},
            datasets: [{
              label: '# of SMS',
              data: {{ count_by_category_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(data_sms_get_top_ten_domains, {
          type: 'bar',
          data: {
            labels: {{ data_sms_get_top_ten_domains_labels | safe}},
            datasets: [{
              label: 'Top domains',
              data: {{ data_sms_get_top_ten_domains_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(data_sms_get_top_ten_countries, {
          type: 'bar',
          data: {
            labels: {{ data_sms_get_top_ten_countries_labels | safe}},
            datasets: [{
              label: 'Top countries',
              data: {{ data_sms_get_top_ten_countries_values | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

</body>
</html>