<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/default.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Statistics</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="/statistics" class="active">Statistics</a>
        <a href="/about">About</a>
    </div>
    <div class="content">
        <h1>Search SMS</h1>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

</body>
</html>